body,html
    width : 100% ;
    height : 100% ;

html,
body,
a,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p
    margin : 0 ;
    padding : 0 ; 

ul,
ol,
li
	list-style:none;

.clear_float:after
    content : "." ;
    clear : both ;
    display : block ;
    height : 0 ;
    overflow : hidden ;
    visibility : hidden ;

.clear_float
 	zoom : 1

